.card {
    width: 275px;
    background: #fff;
}

.card button {
    background: var(--black-2);
    color: var(--lemon);
}

.percent_des {
    color: var(--grey);
    font-size: 13px;
}

.percent {
    background: rgba(194, 255, 81, 0.5);
    color: var(--black-2);
    font-size: 10px;
}

.activity {
    background: #fff;
    width: 710px;
}

.feed small {
    color: var(--grey);
    font-size: 13px;
}

.feed button {
    background: var(--black);
    color: var(--lemon);
    font-size: 16px;
    line-height: 0.5rem;
}

.schedule {
    min-width: calc(100% - 710px - 24px);
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.event {
    width: 100%;
}

.event .date {
    background: var(--black);
    width: 55px;
}

.date p {
    font-size: 15px;
}

.date p:nth-child(1) {
    color: #fff;
}
.date p:nth-child(2) {
    color: var(--lemon);
}

.des small {
    color: var(--grey);
}

.department {
    background: #fff;
    width: 760px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table td,
.table th {
    text-align: left;
    width: 75%;
}

.table th:last-child,
.table td:last-child {
    width: 100%;
}

.table th {
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
}

.table tr {
    display: flex;
    align-items: center;
}

.table td {
    padding-block: 1rem;
    font-size: 16px;
    font-weight: 500;
}

.performance {
    position: relative;
    border: 1.5px solid var(--black-2);
    height: 1.2rem;
}

.performance small {
    font-size: 10px;
    font-weight: 500;
    z-index: 200;
}

.calendar {
    background: #fff;
    width: 410px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.grid {
    max-width: 370px;
    width: 100%;
    display: grid;
    gap: 0.8rem;
}

.grid > div {
    display: grid;
    grid-template-columns: repeat(7, calc((100% / 7) - 0.7rem));
    grid-template-rows: 50px;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.grid .day div {
    text-transform: uppercase;
    color: var(--grey);
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
}

.grid .date div {
    padding-block: 0.6rem;
    cursor: pointer;
    font-weight: 500;
    user-select: none;
}

.today,
.grid .date div:hover {
    background: var(--black-2);
    color: var(--lemon);
    border-radius: 50%;
}

.months{
    max-width: 370px;
    width: 100%;
    display: grid;
    gap: 1.5rem;
}

.months div{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}

.months .month{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
}

.months .month:hover, .currentMonth{
    background: var(--black);
    color: var(--lemon)

}

.picker {
    background: rgba(194, 255, 81, 0.5);
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    user-select: none;
}

@media screen and (max-width: 900px) {
    .dashboard section {
        flex-wrap: wrap;
    }

    .dashboard section div {
        width: 100%;
    }

    .event {
        width: 100%;
    }

    .compile_card {
        gap: 1rem;
    }

    .card {
        width: clamp(275px, 5vw, 400px);
    }
}
