.card {
    width: 275px;
    background: #fff;
}

.card button {
    background: var(--black-2);
    color: var(--lemon);
}

.percent_des {
    color: var(--grey);
    font-size: 11px;
}

.percent {
    background: rgba(194, 255, 81, 0.5);
    color: var(--black-2);
    font-size: 10px;
}

.activity {
    background: #fff;
    width: 710px;
}

.feed small {
    color: var(--grey);
    font-size: 13px;
}

.feed button {
    background: var(--black);
    color: var(--lemon);
    font-size: 16px;
    line-height: 0.5rem;
}

.schedule {
    min-width: calc(100% - 710px - 24px);
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.event {
    width: 100%;
}

.event .date {
    background: var(--black);
    width: 55px;
}

.date p {
    font-size: 15px;
}

.date p:nth-child(1) {
    color: #fff;
}
.date p:nth-child(2) {
    color: var(--lemon);
}

.des small {
    color: var(--grey);
}

.department {
    background: #fff;
    width: 760px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table td,
.table th {
    text-align: left;
    width: 75%;
}

.table th:last-child,
.table td:last-child{
    width: 100%;
}

.table th {
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
}

.table tr {
    display: flex;
    align-items: center;
}

.table td {
    padding-block: 1rem;
    font-size: 16px;
    font-weight: 500;
}

.performance {
    position: relative;
    border: 1.5px solid var(--black-2);
    height: 1.2rem;
}

.performance small {
    font-size: 10px;
    font-weight: 500;
    z-index: 200;
}

.calendar {
    background: #fff;
    width: 410px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width:900px) {
    .dashboard section{
        flex-wrap: wrap;
    }

    .dashboard section div{
        width: 100%;
    }

    .event{
        width: 100%;
    }

    .compile_card{
        gap: 1rem;

    }

    .card{
        width: clamp(275px, 5vw, 400px);
    }
}