.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons button {
    font-size: 14px;
}
.buttons button:first-child {
    background: var(--white);
}

.buttons button:nth-child(2) {
    background: var(--black);
    color: var(--lemon);
}

.search {
    background: #ffffff;
}

.search input {
    background: transparent;
    outline: none;
    padding: 0;
}