.sidebar img svg {
    max-width: 180px;
    width: 100%;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: var(--black);
    color: var(--grey);
    position: fixed;
}

.sidebar li {
    margin-block: 4px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    font-size: 15px;
}

.sidebar li img{
    width: 25px;
}

.sidebar .active,
.sidebar li:hover {
    border-top: 1px solid var(--lemon);
    border-bottom: 1px solid var(--lemon);
    background-color: #c2ff511a;
}
