@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lemon: #C2FF51;
  --black: #222125;
  --black-2: #303032;
  --white: #FEFFFB;
  --grey: #BCBCBC;
  --grey-bg: #F5F5F5;
}

*{
  font-family: 'Cabinet Grotesk', sans-serif;
}

